absl-py==2.1.0
accelerate==0.32.1
addict==2.4.0
aiofiles==22.1.0
aiohttp==3.8.5
aiosignal @ file:///D:/a/ComfyUI/cu121_python_deps/aiosignal-1.3.1-py3-none-any.whl#sha256=f8376fb07dd1e86a584e4fcdec80b36b7f81aac666ebc724e2c090300dd83b17
aiosqlite==0.20.0
airportsdata==20250224
albucore==0.0.20
albumentations==1.4.21
altair==5.0.1
altgraph==0.17.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asn1crypto==1.5.1
astor==0.8.1
asttokens==3.0.0
async-timeout==4.0.3
attrdict==2.0.1
attrs==23.1.0
Babel==2.14.0
base58==2.1.1
bce-python-sdk==0.9.5
beautifulsoup4==4.12.3
bitarray==2.9.2
bitstring==4.1.4
blake3==1.0.4
blinker==1.6.2
boto3==1.34.142
botocore==1.34.142
Brotli==1.1.0
browser-cookie3==0.19.1
cachetools==5.3.1
certifi==2023.7.22
cffi @ file:///D:/a/ComfyUI/cu121_python_deps/cffi-1.16.0-cp311-cp311-win_amd64.whl#sha256=db8e577c19c0fda0beb7e0d4e09e0ba74b1e4c092e0e40bfa12fe05b6f6d75ba
chardet==5.2.0
charset-normalizer==3.2.0
chinese_calendar==1.10.0
ci-info==0.3.0
ckzg==2.0.1
click==8.1.7
clip-interrogator==0.6.0
cloudpickle==3.1.1
cmake==3.25.2
coincurve==20.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
compressed-tensors==0.9.3
configobj==5.0.8
configparser==6.0.0
contourpy==1.1.0
cryptography==41.0.7
cs-binance-c2c-sapi==0.0.11
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.9.0
cycler==0.11.0
Cython==3.0.9
cytoolz==1.0.0
dashscope==1.23.2
dataclasses-json==0.5.14
debugpy==1.8.14
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
depyf==0.18.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
dlib @ https://github.com/jloh02/dlib/releases/download/v19.22/dlib-19.22.99-cp310-cp310-win_amd64.whl#sha256=f2181b6724669fb0147c9ebc326d72b94de41bced1812eff5df4b133b5d0b575
dnspython==2.7.0
ecdsa==0.18.0
einops==0.8.1
email_validator==2.2.0
esptool==4.7.0
et-xmlfile==1.1.0
etelemetry==0.3.0
eth-account==0.13.4
eth-hash==0.7.0
eth-keyfile==0.8.1
eth-keys==0.6.0
eth-rlp==2.1.0
eth-typing==5.0.1
eth-utils==5.1.0
eth_abi==5.1.0
eval_type_backport==0.2.0
exceptiongroup==1.1.2
executing==2.2.0
f2==0.0.1.6
fastapi==0.115.12
fastapi-cli==0.0.7
ffmpy==0.3.1
filelock==3.18.0
fire==0.5.0
fitz==0.0.1.dev2
Flask==3.0.2
flask-babel==4.0.0
flatbuffers==25.1.21
fonttools==4.42.0
fpdf==1.7.2
fpdf2==2.7.8
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.3.1
future==0.18.3
gevent==25.4.2
gguf==0.16.2
gitdb==4.0.10
GitPython==3.1.32
gmssl==3.2.2
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc1
google-api-python-client==2.169.0
google-auth==2.40.1
google-auth-httplib2==0.2.0
google-genai==1.14.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
gradio==3.40.1
gradio_client==0.4.0
greenlet==3.2.2
grpcio==1.71.0
grpcio-status==1.71.0
grpcio-tools==1.71.0
h11==0.14.0
hexbytes==1.2.1
hf-xet==1.1.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.4
imageio==2.34.0
img2pdf==0.5.1
imgaug==0.4.0
imgkit==1.2.3
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
intelhex==2.3.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.36.0
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-ng==1.6.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.4
langchain==0.3.8
langchain-core==0.3.21
langchain-text-splitters==0.3.2
langsmith==0.1.146
lark==1.2.2
lazy_loader==0.3
linkify-it-py==2.0.2
lm-format-enforcer==0.10.11
lmdb==1.4.1
loguru==0.7.3
looseversion==1.3.0
lxml==4.9.3
lz4==4.3.3
m3u8==3.6.0
Markdown==3.5.2
markdown-it-py==2.2.0
markdown2==2.4.13
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mistral_common==1.5.4
mpmath==1.3.0
msgspec==0.19.0
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.1
nibabel==5.1.0
ninja==1.11.1.4
nipype==1.8.6
numexpr==2.8.5
numpy==1.25.2
ollama==0.4.8
onnx==1.17.0
onnxconverter-common==1.14.0
onnxruntime==1.20.1
onnxruntime-tools==1.7.0
open-clip-torch==2.20.0
openai==1.77.0
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.11.0.86
openpyxl==3.1.2
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.5
opt-einsum==3.3.0
orjson==3.10.12
outlines==0.1.11
outlines_core==0.1.26
packaging==24.2
paddleocr==2.7.0.3
paddlepaddle-gpu==2.6.0
pandas==2.0.3
parsimonious==0.10.0
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pdf2docx==0.5.8
pdf2image==1.17.0
pefile==2023.2.7
pikepdf==8.13.0
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.5.0
ply==3.11
premailer==3.10.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.21.1
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==3.20.2
prov==2.0.0
psutil==5.9.8
pure_eval==0.2.3
py-cpuinfo==9.0.0
py3nvml==0.2.7
pyarrow==12.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.3.0.post5
pycountry==24.6.1
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.8.0
pydot==1.4.2
pydub==0.25.1
pydyf==0.9.0
PyExecJS==1.5.1
Pygments==2.16.1
pyhandytools==2.0.1
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
PyJWT==2.8.0
Pympler==1.0.1
PyMuPDF==1.20.2
PyMuPDFb==1.23.22
pynng==0.8.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyphen==0.14.0
pypng==0.20220715.0
pyreadline3==3.5.4
pyserial==3.5
pytesseract==0.3.10
pytest==8.2.1
pytest-asyncio==0.21.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyunormalize==16.0.0
pywin32==306
pywin32-ctypes==0.2.2
pyxnat==1.6
PyYAML==6.0.1
pyzmq==26.4.0
qrcode==7.4.2
rapidfuzz==3.6.2
rarfile==4.1
rdflib==7.0.0
reedsolo==1.7.0
referencing==0.30.2
regex==2024.11.6
reportlab==4.1.0
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
rich-toolkit==0.14.4
rlp==4.0.1
rpds-py==0.9.2
rsa==4.9.1
s3transfer==0.10.4
safetensors==0.5.2
schedule==1.2.2
scikit-image==0.22.0
scikit-learn==1.5.2
scipy==1.11.1
semantic-version==2.10.0
sentencepiece==0.2.0
shapely==2.0.3
shellingham==1.5.4
simplejson==3.19.1
simsimd==6.1.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.5
sparkdesk-api==1.3.0
SQLAlchemy==2.0.19
stack-data==0.6.3
starlette==0.46.2
streamlit==1.32.0
stringzilla==3.10.10
sympy==1.13.1
tenacity==8.2.2
termcolor==2.4.0
tf2onnx==1.16.1
threadpoolctl==3.5.0
tifffile==2024.2.12
tiktoken==0.9.0
timm==1.0.14
tinycss2==1.2.1
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.5.1
torchvision==0.20.1
tornado==6.3.3
tqdm==4.66.1
tr==2.8.6
traitlets==5.14.3
traits==6.3.2
transformers==4.51.3
tronpy==0.5.0
typer==0.15.3
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3.1
uc-micro-py==1.0.2
uritemplate==4.1.1
urllib3==2.0.4
uvicorn==0.23.2
validators==0.21.2
visualdl==2.5.3
vllm==0.8.5.post1
watchdog==3.0.0
watchfiles==1.0.5
wcferry==39.4.5.0
wcwidth==0.2.13
weasyprint==61.2
web3==7.6.0
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.1
win32_setctime==1.2.0
wrapt==1.16.0
xmltodict==0.14.2
yarl==1.9.2
zhdate==0.1
zhipuai==2.1.5.20250421
zipp==3.16.2
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3
